*.a
*.app
*.bak
*.cache
*.d
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.o
*.obj
*.out
*.pch
*.pdb
*.slo
*.so
*.so.*
*.su
*.x86_64
*-prefix/
.DS_Store
.cache/
.gitattributes
.vscode/
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CMakeScripts/
CTestTestfile.cmake
Testing/
_deps/
build/
cmake_install.cmake
compile_commands.json
install_manifest.txt
lua
luaconf.h
makefile
manual/manual.html
temp
testes/libs/all
testes/time-debug.txt
testes/time.txt
